.checkbox > input[type="checkbox"] {
  display: none;
}

.checkbox button {
  border: 2px solid var(--blue);
  background-color: transparent;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox:hover:not(input[type="checkbox"]:checked) button {
  border-color: var(--blue-dark);
  background-color: rgba(30, 112, 159, 0.2);
}

.checkbox button svg {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  color: var(--white);
  transition: visibility 0.1s, opacity 0.1s, transform 0.1s;
}

.checkbox > input[type="checkbox"]:checked + button svg {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.checkbox > input[type="checkbox"]:checked + button {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.checkbox:hover > input[type="checkbox"]:checked + button {
  background-color: var(--purple);
  border-color: var(--purple);
}
